body{
  margin: 0;
  padding: 0;
}


.navbarr {
  background-color: #333;
  padding: 20px 0 20px 0;
  margin: 0;
}

.navbarr-nav {
  list-style-type: none;
  padding: 0; 
  margin: 0;
  display: flex;
}

.navv-item {
  margin-right: 10px;
}

.navv-link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.navv-link:hover {
  background-color: #555;
}

.navv-item a.active {
  background-color: #555;
}

.box{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

.box .btn-shoot{
  background-color: #333;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  font-size: xx-large;
  cursor: pointer;

  &:hover{
    background-color: #555;
    transition: all .3s ease-in-out;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  &:active{
    transform: scale(.97);
  }
}

.loading{
  background-color: #333;
  width: 50px;
}

.card-img-top{
  width: 100%;
}

.photo-gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
}

.card-container {
  width: 30%; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .card-container {
    width: 45%; /* Adjust as needed for smaller screens */
  }
}

@media (max-width: 576px) {
  .card-container {
    width: 100%; /* Full width on smaller screens */
  }
}
